<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="mohith" translate="label" sortOrder="10">
            <label>Mohith</label>
        </tab>
        <section id="reindex" translate="label" sortOrder="20" type="text" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <class>separator-top</class>
            <label>Reindex</label>
            <tab>mohith</tab>
            <resource>Mohith_ChatGpt::indexer_reindex</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1">
                <label>General</label>
                <field id="enable" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="individual_reindexing" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Individual Reindexing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
                <field id="mass_reindexing" translate="label" type="select" sortOrder="10" showInDefault="1">
                    <label>Enable Mass Reindexing</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="enable">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
