<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <reindex>
            <general>
                <enable>1</enable>
                <individual_reindexing>1</individual_reindexing>
                <mass_reindexing>1</mass_reindexing>
            </general>
            <Cron>
                <enable>1</enable>
                <enable_manual_scheduler_for_reindexing>1</enable_manual_scheduler_for_reindexing>
                <manual_scheduler_for_reindexing>*/5 * * * *</manual_scheduler_for_reindexing>
            </Cron>
        </reindex>
    </default>
</config>
